dist/
node_modules/
.DS_Store
.env
yarn-error.log
storybook-static/
build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json

**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
