name: Release

on: [push]

permissions:
  id-token: write # Required for OIDC
  contents: write # Required for auto shipit
  pull-requests: write # Required for auto shipit

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0
          fetch-tags: true
          clean: true

      - name: Install dependencies
        run: yarn install --immutable

      - name: Create Release
        run: yarn run release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
